example_input/*
example_input_2/*
.settings/*
.classpath
.project
.idea
target/*
./src/main/java/bgu/spl/mics/example/*
camera_data.json
configuration_file.json
lidar_data.json
output.json
pose_data.json

